/* container.scss
 * The container is the top-level <div> that holds the entire player.  The
 * player itself has two components: a canvas, which the output is rendered on
 * and a control bar.
 */
@import '_variables.scss';

.svjs-container {
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    position: relative;
    z-index: 1;

    // Force a "reset" of all elements within the container.  This avoids some
    // browser-related issues.
    input, button, ul, li {
        font-size: 100%;
        font-family: 'Helvetica', sans-serif;
    }

    canvas {
        display: block;
        width: inherit;

        &:fullscreen {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &:fullscreen {
        background-color: black;
        width: 100%;
    }
}
